@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Nunito", sans-serif; */
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item,
.nav-form {
  margin-left: 30px;
}
.navbar-brand {
  margin-left: 30px;
}
.form-control {
  border-radius: 7px;
  border: 1.5px solid #e3e6ed;
}

input.form-control:focus {
  box-shadow: none;
}
.input-group {
  margin-right: 30px;
}
.navbar {
  padding: 15px 0;
  background: white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.057);
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
}

/* The navigation menu links */
.sidebar li {
  font-size: 15px;
  display: block;
  list-style-type: none;
  margin-bottom: 50px;
}
.sidebar a {
  text-decoration: none;
  color: #818181;
}
.sidebar a:hover {
  color: #3f3f3f;
  transition: ease 0.2s;
}
.dashboard-img {
  height: 250px;
  overflow: hidden;
  background-image: url("./img/leaves.jpg");
  background-size: 100%;
  padding-top: 50px;
}
.navbar-light .navbar-toggler {
  margin-right: 30px;
  border-color: rgba(0, 0, 0, 0);
}
.profile-pic img {
  width: 200px;
  height: auto;
  vertical-align: middle;
}
.username-text {
  padding: 70px 0;
  /* margin-left: 80px; */
  color: white;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.classlist h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.signup-form .container {
  /* padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 100px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 150px 300px;
}
@media only screen and (max-width: 990px) {
  .signup-form .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media only screen and (max-width: 700px) {
  .signup-form .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.signup-form .form-control {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  box-sizing: border-box;
}

.signup-form form * {
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-button {
  width: 100%;
  padding: 10px 0 !important;
}

.signup-form form {
  padding: 50px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.signup-form {
  background-size: 100%;
}
